﻿
@model ModelFiles.Interfaces.IDimensions
@using ModelFiles.Enums
@{
    ViewData["Title"] = "GuestPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<section class="content-section" onclick="main.clickEvents(event);">
    <h2>@ViewBag.Greeting</h2>

    <div class="list-group">
        <button type="button" data-action="guest-page" data-value="3" class="list-group-item list-group-item-action">Room Volume</button>
        <button type="button" data-action="guest-page" data-value="1" class="list-group-item list-group-item-action">Floor Area</button>
    </div>
    <section id="workingArea">

                <section id="operationArea">
                </section>
            
        
    </section>
</section>

