﻿@using System.Collections
@using ModelFiles.Interfaces
@using ModelFiles.Concrete
@model IDimensions
@{
    ViewData["Title"] = "Main Page";
    
    bool User = (ViewBag.ExistingUser != null ? ViewBag.ExistingUser : false);
}
<section id="indexPage" onclick="main.clickEvents(event);">
    <h1>@ViewData["Title"]</h1>
    <section class="content-section">
        <div class="jumbotron">
            <h1 class="display-4">Dimensions Application</h1>
            <p class="lead">If you haven't registered please continue to plan generator, else sign in and enjoy features bespoke to you!</p>
            <hr class="my-4">
            <p>
                This is a test application using .Net Core with the borwell Challenge specs.  <span class="glyphicon glyphicon-info-sign hoverable" data-action="" aria-hidden="true"></span>
            </p>
            <p class="lead">
                <span>
                    Already Registered? - <button class="btn-info" data-action="login">Login</button> / <button role="button" onclick="window.location.href = '/Home/GuestPage';" class="btn-success">Continue</button>
                </span>
            </p>
        </div>
    </section>
</section>