﻿@model ModelFiles.Interfaces.IDimensions
@using ModelFiles.Concrete
@{
    switch (Model.Type)
    {
        case ModelFiles.Enums.Operation.Area:
            <section id="operationArea">
                @Html.EditorFor(m => Model)
            </section>
            break;
        case ModelFiles.Enums.Operation.RoomVolume:
            <section id="operationArea">
                @Html.EditorFor(m => Model)
            </section>
            break;
    }
}