﻿@model ModelFiles.Concrete.RoomVolume

<div id="operationArea" class="row">
    <h2>Volume Calculator</h2>
    <h4>please enter following, to calculate. (calculated in meters)</h4>
    <div id="editorContainer" style="display: inline-flex;" class="col-md-11">
        <div id="areaForm" style="width:40%;" asp-action="#">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" pattern="[0-9]+" asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  pattern="[0-9]+" asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" data-action="calculate-volume" value="Calculate" class="btn btn-default" />
            </div>
        </div>
        <table style="width: 60%; margin-left: 2.5%;" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Width</th>
                    <th scope="col">Height</th>
                    <th scope="col">Length</th>
                    <th scope="col">Area</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td name="Width" order="1">0</td>
                    <td name="Height" order="2">0</td>
                    <td name="Length" order="3">0</td>
                    <td name="Value" order="4">0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
